@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;


.logo-image {
  display: inline;
  margin-right: 10px;
  padding-bottom: 10px;
}

ul {
  padding: 5%;

}

body {
  background-color: #264653;
}

.spotify-login span {
  cursor: pointer;
}

.navbar .logo {
  cursor: pointer;
}

.signout {
  cursor: pointer;
  margin-right: 10px
}

.signin {
  cursor: pointer;
  margin-right: 10px;
}

.spotify-icon {
  float: right;
  padding-left: 10px;
}

.playlist-status {
  margin-top: 5%;
}
  
