@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  overflow: hidden;
}

.background {
  background: url(../images/concert.jpg) no-repeat center center fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}